/* CSS Document */

body {
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	}

a {
	color: #457788;
	text-decoration: underline;
	}

a:hover {
	color: #5c8c9c;
	text-decoration: underline;
	}

/* Structural Elements */

#wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 924px;
	height: auto;
	}

#folio {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 924px;
	height: auto;
	}

/****************** Site Wrapper *****************/

#sitewrapper {
	float: left;
	margin: 0;
	padding: 0;
	width: 924px;
	height: auto;
	}

/****************** Top Strip *****************/

#topstrip {
	float: left;
	margin: 9px 0 0 0;
	padding: 0;
	width: 924px;
	height: auto;
	}

/****************** Logo *****************/

.logo {
	float: left;
	width: 140px;
	height: auto;
	margin: 0;
	padding: 0;
	}

/****************** Tagline *****************/

.tagline {
	float: left;
	width: 370px;
	height: auto;
	margin: 0 0 0 20px;
	padding: 0;
	display: inline;
	}

.tagline h1 {
	margin: 5px 0 0 0;
	padding: 0;
	font-family: Georgia, Times New Roman, serif;
	font-size: 18px;
	color: #3b8497;
	font-weight: normal;
	}

/****************** Login Styles *****************/

.login {
	float: right;
	width: 380px;
	height: auto;
	margin: 0;
	padding: 0;
	background: url(images/login-bg.gif) no-repeat;
	text-align: right;
	}


.login_top {
	float: right;
	width: 380px;
	height: auto;
	margin: 0;
	padding: 0;
	background: none;
	}

.login_bottom {
	float: left;
	width: 380px;
	height: auto;
	margin: 0;
	padding: 0;
	background: none;
	text-align: right;
	}

.login_bottom img {
	vertical-align: middle;
	}


.login h3 {
	margin: 13px 12px 0 0;
	padding: 0;
	font-size: 11px;
	color: #333;
	}

.login p {
	margin: 14px 12px 3px 0;
	padding: 0 0 0 0;
	font-size: 11px;
	color: #999;
	}

.login a {
	color: #666;
	text-decoration: none;
	}

.login a:hover {
	color: #333;
	text-decoration: underline;
	}

.login form {
	margin: 0;
	padding: 0;
	}

.login_field {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 0;
	font-weight: normal;
	margin: 0;
	}

.login_labels {
	color: #fff;
	font-size: 11px;
	padding: 2px 0 0px 0;
	text-align: left;
	}

.login_inputs {
	color: #fff;
	font-size: 11px;
	padding: 0;
	text-align: left;
	}

.login_buttonright {
	color: #fff;
	font-size: 11px;
	padding: 0 12px 0 0;
	text-align: right;
	}

/****************** Navigation *****************/

#navigation {
	float: left;
	margin: 4px 0 0 0;
	padding: 0;
	width: 924px;
	height: 29px;
	background: url(images/nav-bg.gif) repeat-x;
	}

#navigation p {
	margin: 0 0 0 12px;
	}

.navdiv {
	margin: 0 12px;
	}

/****************** Main Content *****************/

#main_content {
	float: left;
	margin: 4px 0 0 0;
	padding: 0;
	width: 924px;
	height: auto;
	background: #fff url(images/content-bg.gif) repeat-x;
	}



#fullcol {
	float: left;
	width: 924px;
	height: auto;
	margin: 12px 0 0 0;
	padding: 0;
	}

.full_content {
	float: left;
	width: 924px;
	height: auto;
	margin: 0;
	padding: 0;
	}


/****************** Left Column *****************/

#leftcol {
	float: left;
	width: 600px;
	height: auto;
	margin: 12px 0 0 12px;
	padding: 0;
	display: inline;
	}

.left_content {
	float: left;
	width: 600px;
	height: auto;
	margin: 0;
	padding: 0;
	}

.left_content h1, .full_content h1 {
	color: #FF0000;
	font-family: Georgia, "Times New Roman", serif;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 25px;
	font-weight: normal;
	}

.left_content h2, .full_content h2 {
	color: #2D2D2D;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	margin-top: 18px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	}

.left_content sup {
	font-size: 9px;
	}

.left_content h3, .full_content h3 {
	color: #000;
	margin: 12px 0 0 0;
	padding: 0 0 0 0;
	font-size: 15px;
	font-weight: bold;
	}

.left_content p, .full_content p {
	color: #000;
	margin: 12px 0 0 0;
	padding: 0 0 0 0;
	font-size: 14px;
	}

.left_content p.lessmrg, .full_content p.lessmrg {
	color: #000;
	padding: 0;
	font-size: 14px;
	margin-top: 6px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
	padding-bottom: 4px;
	}


/*************** Right Column *****************/

#rightcol {
	float: right;
	width: 275px;
	height: auto;
	margin: 12px 12px 0 0;
	padding: 0;
	display: inline;
	}

/**************** Test Drive *****************/

.right_testdrive {
	float: left;
	width: 275px;
	height: 110px;
	margin: 0;
	padding: 0;
	background: url(images/apply-bg.gif) no-repeat;
	display: inline;
	}

.right_testdrive h1 {
	color: #ffff99;
	font-size: 20px;
	font-weight: normal;
	margin: 12px 12px 0 12px;
	padding: 0 0 3px 0;
	font-family: Georgia, Times New Roman, serif;
	}

.right_testdrive h2 {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	margin: 0 12px 0 12px;
	padding: 0;
	}

.right_testdrive p {
	color: #fff;
	font-size: 4px;
	margin: 0 12px 0 12px;
	padding: 0;
	text-align: right;
	}

/**************** Right Column Testimonials *****************/

.right_testimonialwrap {
	float: left;
	width: 275px;
	height: auto;
	margin: 12px 0 0 0;
	padding: 0;
	}

.right_testimonials {
	float: left;
	width: 275px;
	height: auto;
	margin: 0;
	padding: 0;
	background: url(images/testimonials-bg.gif) no-repeat;
	}

.right_testimonials h1 {
	color: #5c8c9c;
	font-size: 20px;
	font-weight: normal;
	margin: 12px 12px 0 12px;
	padding: 0 0 3px 0;
	font-family: Georgia, Times New Roman, serif;
	}

.right_testimonials p {
	margin: 10px 0 0 0;
	padding: 0 0 7px 0;
	text-align: center;
	}

.flash_testimonials {
	border: solid 1px #fff;
	}

.right_testimonialsbottom {
	float: left;
	width: 275px;
	height: 6px;
	margin: 0;
	padding: 0;
	font-size: 2px;
	background: url(images/testimonials-bottom.gif) no-repeat;
	}


/**************** Events *****************/


.right_eventswrap {
	float: left;
	width: 275px;
	height: auto;
	margin: 12px 0 0 0;
	padding: 0;
	}

.right_events {
	float: left;
	width: 275px;
	height: auto;
	margin: 0;
	padding: 0 0 6px 0;
	background: url(images/events-bg-top.gif) no-repeat;
	}

.right_events h1 {
	margin: 12px 12px 0 12px;
	padding: 0 0 6px 0;
	color: #5c8c9c;
	font-weight: normal;
	font-family: Georgia, Times New Roman, serif;
	font-size: 20px;
	}

.right_events p {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	margin: 6px 12px 0 12px;
	padding: 0 0 0 10px;
	background: url(images/bullet.gif) left no-repeat;
	}

.right_events p.dateplace {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 12px 0 12px;
	padding: 0 0 0 10px;
	background: none;
	}

.right_events a {
	color: #222;
	text-decoration: underline;
	}

.right_events a:hover {
	color: #457788;
	text-decoration: underline;
	}

.right_eventsbottom {
	float: left;
	width: 275px;
	height: auto;
	margin: 0;
	padding: 0;
	background: url(images/events-bg-bottom.gif) no-repeat;
	}

/******************  *****************/

.right_bluemodulewrap {
	float: left;
	width: 275px;
	height: auto;
	margin: 0;
	padding: 0;
	}

.right_bluemodulewrap_mrg {
	float: left;
	width: 275px;
	height: auto;
	margin: 12px 0 0 0;
	padding: 0;
	}

.right_bluemodule_mrg {
	float: left;
	width: 275px;
	height: auto;
	margin: 0;
	padding: 0 0 6px 0;
	background: url(images/bluemodule.gif) no-repeat;
	}

.right_bluemodule {
	float: left;
	width: 275px;
	height: auto;
	margin: 0;
	padding: 0 0 6px 0;
	background: url(images/bluemodule_bluebg.gif) no-repeat;
	}

.right_yellowmodule {
	float: left;
	width: 275px;
	height: auto;
	margin: 0;
	padding: 0 0 6px 0;
	background: url(images/yellow-bg.gif) no-repeat;
	}

.right_yellowmodule_bluebg {
	float: left;
	width: 275px;
	height: auto;
	margin: 0;
	padding: 0 0 6px 0;
	background: url(images/yellow-bg-bluebg.gif) no-repeat;
	}

.right_bluemodule h1, .right_bluemodule_mrg h1, .right_yellowmodule h1, .right_yellowmodule_bluebg h1 {
	margin: 12px 12px 0 12px;
	padding: 0 0 4px 0;
	color: #233d6c;
	font-weight: normal;
	font-family: Georgia, Times New Roman, serif;
	font-size: 20px;
	background: url(images/right-h1-bg.gif) bottom left repeat-x;
	}

.right_bluemodule h2, .right_bluemodule_mrg h2, .right_yellowmodule h2, .right_yellowmodule_bluebg h2 {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin: 12px 12px 0 12px;
	padding: 0 0 0 0;
	}

.right_bluemodule p, .right_bluemodule_mrg p, .right_yellowmodule p, .right_yellowmodule_bluebg p {
	color: #000;
	font-size: 15px;
	font-weight: normal;
	margin: 6px 12px 0 12px;
	padding: 0 0 0 10px;
	background: url(images/bullet-orange.gif) top left no-repeat;
	}

.right_bluemodule p.dateplace, .right_bluemodule_mrg p.dateplace, .right_yellowmodule_bluebg p.dateplace {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 12px 0 12px;
	padding: 0 0 0 10px;
	background: none;
	}

.right_bluemodule a, .right_bluemodule_mrg a, .right_yellowmodule a, .right_yellowmodule_bluebg a {
	color: #222;
	text-decoration: underline;
	}

.right_bluemodule a:hover, .right_bluemodule_mrg a:hover, .right_yellowmodule a:hover, .right_yellowmodule_bluebg a:hover {
	color: #457788;
	text-decoration: underline;
	}

.right_bluemodulebottom {
	float: left;
	width: 275px;
	height: 7px;
	margin: 0;
	padding: 0;
	background: url(images/bluemodule-bottom.gif) no-repeat;
	font-size: 3px;
	}

.right_yellowmodulebottom {
	float: left;
	width: 275px;
	height: 7px;
	margin: 0;
	padding: 0;
	background: url(images/yellow-bg-bottom.gif) no-repeat;
	font-size: 3px;
	}

/****************** Footer *****************/

#footer {
	float: left;
	margin: 8px 0 0 12px;
	padding: 0;
	width: 900px;
	height: auto;
	background: #fff;
	border-top: solid 1px #cdd1db;
	display: inline;
	}

#footer p {
	font-size: 11px;
	color: #666;
	margin: 8px 0 0 0;
	padding: 0 0 8px 0;
	}

#footer a {
	color: #666;
	text-decoration: underline
	}

#footer a:hover {
	color: #333;
	text-decoration: underline
	}


.highlight {
	background: #faffac;
	padding: 2px;
	font-weight: bold;
	}


/**************** Form Styles ******************/

.tabular {
	margin: 12px 0 0 0;
	}

.tabular td {
	font-size: 13px;
	color: #000;
	padding: 4px;
	}

.tabular td.shaded {
	font-size: 13px;
	color: #000;
	padding: 4px;
	background: #f2f2f2;
	}

.formfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	padding: 1px;
	margin: 0;
	}

.required {
	color: #d90000;
	}

ul {
	font-size: 14px;
	}

ul.circle {
	font-size: 14px;
	list-style-type: circle;
	margin-bottom: 4px;
	}

li {
	font-size: 14px;
	margin: 1px 0 0 0;
	padding: 0 0 1px 0;
	}

.right_events_scroll {
	float: left;
	width: 248px;
	height: 130px;
	margin: 10px 12px 0 12px;
	padding: 0;
	display: inline;
	overflow: auto;
	background: #f6f6f6;
	border: solid 1px #d2d2d2;
	}
